body{
    background: rgb(245, 245, 245);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Homepage Styles*/
.homepage_layout{
    display: grid;
    grid-template-rows: 2fr;
    gap: 50px;
    width: 90%;
    margin: 0px auto;
    padding: 20px 0;
}


.pages{
    display: grid;
    grid-template-rows: 2fr;
    gap: 30px;

}

.page_component{
    padding: 30px 30px;
    background: linear-gradient(to left,#00CDAC, #188af0 );
    color: white;
    border-radius: 6px;
    font-size: 17px;
}