body{
    background: rgb(245, 245, 245);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/* Homepage Styles*/
.homepage_layout{
    display: grid;
    grid-template-rows: 2fr;
    gap: 50px;

}


.pages{
    display: grid;
    grid-template-rows: 2fr;
    gap: 30px;
    width: 90%;
    margin: 4cm auto 0;
}

.page_component{
    padding: 30px 30px;
    color: white;
    border-radius: 6px;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,  rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.page_1{
    background:#37ccb3;
}

.page_2{
    background: #228be7;
}

.page_3{
    background-color:#db7cee ;
}

/* Profile Component Style*/
.profile_head{
    height: 5cm;
    width: 100%;
    background:linear-gradient(to right, #37bbcc, #228be7);
}

.profile_container{
    margin-top: 2.7cm;
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
    background: rgb(255,255,255,0.7);
    backdrop-filter: blur(10px); 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    width: 80%;
    margin:2.5cm auto 0 ;
    justify-content: center;
    padding: 20px;
    align-content: center;
    border-radius: 17px;
}

.profile_img_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_img_container > img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -90px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px -10px;
}

/* Receipts Styles */
.receipts_page{
    display: grid;
    grid-template-rows: 2fr;
    gap: 50px;

}

.lists_of_receipts{
    display: grid;
    grid-template-rows: 2fr;
    gap: 30px;
    width: 90%;
    margin: 4cm auto 0;
}

.receipt{
    padding: 30px 30px;
    color: white;
    border-radius: 6px;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    background:#37ccb3;
}

.add_icon{
    position: fixed;
    bottom: 50px;
    right: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #228be7;
    color: white;
    height: 80px;
    width: 80px;
    font-size: 50px;
    box-shadow: 0 17px 56px rgba(0,0,0,0.2);
}

/* Exam Pass Styles */
.exam_pass{
    display: grid;
    grid-template-rows: 2fr;
    gap: 50px;

}

.lists_of_exam_pass{
    display: grid;
    grid-template-rows: 2fr;
    gap: 30px;
    width: 90%;
    margin: 4cm auto 0;
}

.pass{
    padding: 30px 30px;
    color: white;
    border-radius: 6px;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    background:#37ccb3;
}

a{
    text-decoration: none;
}