body{
    background: rgb(245, 245, 245);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/* Homepage Styles*/
.homepage_layout{
    display: grid;
    grid-template-rows: 2fr;
    gap: 50px;

}


.pages{
    display: grid;
    grid-template-rows: 2fr;
    gap: 30px;
    width: 90%;
    margin: 0px auto;
}

.page_component{
    padding: 30px 30px;
    color: white;
    border-radius: 6px;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,  rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.page_1{
    background:#37ccb3;
}

.page_2{
    background: #228be7;
}

.page_3{
    background-color:#db7cee ;
}

/* Profile Component Style*/
.profile_head{
    height: 4cm;
    width: 100%;
    background:linear-gradient(to right, #37bbcc, #228be7);
}